.CocktailsTitle {
    position: fixed;
    top: .5rem;
    z-index: 1;
}

.CocktailsMain {
    position: absolute;
    top: 9rem;
    margin-bottom: 10rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    line-height: 3;
}

.SubMenuH3 {
    font-size: 1.25rem;
}

.SubMenuP {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.SubMenuLastDiv {
    margin-bottom: 4rem;
}

@media (min-width: 990px) {
    .CocktailsTitle {
        display: none;
    }
}