.MenuTitle {
    position: fixed;
    top: .5rem;
    z-index: 1;
}

.title {
    font-size: 2rem;
    line-height: 2.25;
    font-family: 'Brittany Signature';
}

.menuLink {
    font-family: 'Brittany Signature';
    color: black; 
    text-decoration: underline 2px white solid;
    text-underline-offset: .75rem;
}

.menuLink:hover {
    color: white;
}

@media (min-width: 990px) {
    .MenuTitle {
        display: none;
    }
}