.MenuTitle {
    position: fixed;
    /* top: .5rem; */
    z-index: 1;
}

.mainMenuContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    line-height: 3;
    font-family: 'Brittany Signature';
}

.menuLink {
    font-family: 'Brittany Signature';
    color: black; 
    text-decoration: underline 2px #6DC8D5 solid;
    text-underline-offset: 1.5rem;
}

/* .menuLink:hover {
    color: white;
} */

@media (min-width: 990px) {
    .MenuTitle {
        display: none;
    }
}

@media (max-width: 990px) {
    .menuLink {
        font-family: 'Brittany Signature';
        text-decoration: underline 2px #6DC8D5 solid;
        text-underline-offset: 1.5rem;
    }
}