.welcomeTitle {
    position: fixed;
    top: .5rem;
    z-index: 1;
}

.welcomeSubTitle {
    font-size: 2rem;
    margin-top: 1.8rem;
    padding-top: 1rem;
    font-weight: 300;
}

.proposal {
    margin-top: 6rem;
    height: 20rem;
    border-radius: 10px;
}

.welcomeMain {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.welcomeP {
    font-family: 'Avenir LT Pro';
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
}

hr {
    border-top: 2px solid #6DC8D5;
    width: 70vw;
    margin: auto;
}

@media (min-width: 990px) {
    .welcomeTitle {
        display: none;
    }

   .welcomePOne, .welcomePTwo {
        width: 50%;
        margin: auto;
    }

    hr {
        width: 40vw;
    }
}