.welcomeTitle {
    position: absolute;
    top: .5rem;
    z-index: 1;
}

.welcomeSubTitle{
    font-size: 2rem;
    margin-top: 1.8rem;
    padding-top: 1rem;
    font-weight: 300;
}

.KW {
    margin-top: 38.5rem;
}

.welcomePOne {
    font-family: 'Avenir LT Pro';
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
}

.welcomePTwo {
    font-family: 'Avenir LT Pro';
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.welcomePThree {
    font-family: 'Avenir LT Pro';
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    border-top: 2px solid white;
    width: 70vw;
    margin: auto;
}

@media (min-width: 990px) {
    .welcomeTitle {
        display: none;
    }

   .welcomePOne, .welcomePTwo {
        width: 50%;
        margin: auto;
    }

    hr {
        width: 40vw;
    }
}