.EventsTitle {
    position: fixed;
    top: .5rem;
    z-index: 1;
}

.eventImage {
    height: 3.5rem;
    margin-bottom: .7rem;
    margin-top: 2rem;
}

h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

.eventsMain {
    margin-top: 5rem;
}

.footerText {
    font-family: 'Brittany Signature';
    font-size: 1.5rem;
}

.footerTextL {
    font-size: 1.25rem;
    font-family: 'Avenir LT Pro';
    font-weight: 300;
    margin-bottom: 3rem;
}

.footer {
    margin-top: 2rem;
}

@media (min-width: 990px) {
    .EventsTitle {
        display: none;
    }
}

@media (min-width: 375px) {
    table {
        margin-top: 5rem;
        width: 20rem;
        margin-bottom: 1rem;
    }
}