.NavBar {
    background-color: white;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    opacity: 93%;
}

.NavBar a {
    font-family: 'Avenir LT Pro';
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: black;
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

/* .NavBar a:hover {
    color: skyblue;
} */

.NavBar .MobileNav {
    display: none;
}

@media (max-width: 990px) {
    .NavBar .Nav {
        display: none;
    }
    
    .NavBar .MobileNav a {
        color: black;
        text-decoration: none;
        margin: 0;
    }
    
    .NavBar .MobileNav h1 {
        margin-left: 1rem;
    }
    
    .NavBar .MobileNav {
        display: flex;
        align-items: center;
    }
    
    .NavBar .MobileNav .Hamburger{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
    
    /* .NavBar .MobileNav .Hamburger:hover{
        color: skyblue;
    } */
    
    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 75px;
        right: 0;
        width: 100%;
        background-color: white;
        padding-bottom: 2%;
        /* border-bottom: 1px solid; */
    }
    
    /* .NavBar a:hover {
        color: skyblue;
    } */
}

@media (max-width: 360px) {
    .NavBar {
        justify-content: flex-start;
    }
    
    .NavBar .MobileNav .Hamburger{
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
}