.CocktailsTitle {
    position: fixed;
    /* top: .5rem; */
    z-index: 1;
}

.CocktailsMain {
    margin-top: 5rem;
    padding-bottom: 3rem;
}

.wine {
    font-size: 1.75rem;
    line-height: 3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spirits {
    font-size: 1.75rem;
    line-height: 3;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.beer {
    font-size: 1.75rem;
    line-height: 3;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.SubMenuH3 {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.SubMenuP {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem;
}

.SubMenuPLast {
    font-size: 1.25rem;
    margin-bottom: 3rem;
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem;
}

.SubMenuBeerP {
    font-size: 1.25rem;
    line-height: 2;
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem;
}

.SubMenuBeerPLast {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 2;
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 990px) {
    .CocktailsTitle {
        display: none;
    }
}