.seatingTitle {
    position: fixed;
    top: .2rem;
    z-index: 1;
    font-size: 2.25rem;
}

.seatingMain {
    margin-top: 7rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seatingH2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.seatingP {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.WhosWhoPLast {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

input {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 5px;
    min-height: 2.25rem;
    min-width: 14rem;
    text-align: center;
    font-size: 1.1rem;
}

.findTableBtn {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 2.25rem;
    min-width: 8rem;
}

.seatingDisplay {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;  
}

.seatFinderDisplay {
    margin-top: 1rem;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 990px) {
    .seatingTitle {
        display: none;
    }
}